
table{
    margin-top: 20px;
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: 0 2px 15px rgba(64,64,64,.7);
   
    overflow: hidden;
   }


.table th
{
  padding: 18px;
  color:white;
}

.table td{
    padding: 18px;
    color:black;
}