<div class="row">
    <div class="col-md-12">
        <form [formGroup]="postForm" (ngSubmit)="updateForm()">
          <div class="form-group">
            <label for="Title">Title</label>
            <input type="Title" class="form-control" id="Title" formControlName="Title" />
          </div>
          <div class="form-group">
            <label for="Description">Description</label>
            <input type="Description" class="form-control" id="Description" formControlName="Description"/>
          </div>
      
          <button type="submit" class="btn btn-primary" >Update</button>
        </form>
      </div>
      
</div>