<nav style="padding-left: 15px; background-color: black" class="navbar navbar-expand-sm" >
  <a class="navbar-brand" routerLink="" style="color: white;" >Employee Managment</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav" style="padding-left:1000px">
      <a style="color: white;" class="nav-item nav-link" routerLink="add">New Employee</a>
    </div>
  </div>
</nav>

<div class="container">
  <br>
  <h1 style="color: white;font-size: 27px; text-align: center; padding-top: 20px;">Employee Details</h1>
<router-outlet></router-outlet>
<footer>
  <p>Made with <span><i class="fas fa-heart"></i></span> @Dhanashri Surpure</p>
</footer> 
</div>
